.lbinfo-box{
    display: flex;
    width: 100%;
}

.show-chunk-divider{
    margin: 10px 0 !important;
    min-width: 95% !important;
    width: 95% !important;
}
.lbinfo-tool{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.lbinfo-hint-top{
    margin-top: 20px;
}
.lbInfo-chunk-title{
    display: flex;
    align-items: center;
    margin-top: 6px;
    /* font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "PingFang SC", "Microsoft YaHei", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol"; */
    letter-spacing: 1px;
}
.lbInfo-chunk-title>.icon{
    margin: 4px 2px 4px 2px;
}

.lbinfo-motto{
   flex: 1.3;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 15px;
}
.lbinfo-motto:nth-child(2){
    border-right: var(--border-style);
}
.lbinfo-motto-box{
    width: 90%;
    padding-bottom: 110%;
}
.lbinfo-motto-border{
    border-radius: 0;
}
.motto-chunk-divider{
    width: 90% !important;
    min-width: 90% !important;
    margin: 10px 0 !important;
}
.lbinfo-motto-content{
    width: 90%;
    border-left: 4px solid rgb(41,40,36);
    padding-left: 20px;
    padding-right: 20px;
}
.motto-content{
    display: inline-block;
    width: 100%;
    letter-spacing: .7px;
    font-size: 14px;
    font-weight: 500;
    font-style: italic;
    color: rgb(101,100,97);
    
}
.motto-author{
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
}

.lbinfo-else{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}