.banner-title{
    width: 100%;
    height: 250px;
}
.banner-title-flex{
    display: flex;
    width: 100%;
    height: 90%;
}
.banner-title-main{
    position: relative;
    flex: 3;
    /* background-color: #000; */
}
.banner-title-main>span{
    position: absolute;
    top: 40%;
    font-size: 2em;
    font-weight: 900;
}
.banner-title-minor{
    flex: 3;
}
.banner-title-icon{
    position: absolute;
    top: -50px;
}
.banner-title-detail{
    position: absolute;
    display: inline-block;
    top: 80%;
    color: #000;
    font-size: 16px;
}