.show-magnet-list{
    width: 100%;
    height: 900px;
    border: var(--border-style);
    overflow-y: scroll;
}
.show-magnet-list-item{
    width: 100%;
    height: 80px;
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: var(--border-style);
    padding-left: 6px;
    padding-right: 6px;
}
.magnet-center-empty{
    display: flex;
    align-items: center;
    justify-content:center;
}
.show-magnet-list-item:hover{
    background:rgba(0,0,0,.3);
}
.show-magnet-list-item-title{
    display: inline-block;
    width: 100%;
    height: 46px;
    font-weight: 600;
    overflow: hidden;
}
.show-magnet-list-down{
    width: 100%;
    height: 20px;
}
.magnet-suggest{
    display: inline-block;
    width: 100%;
}