.blog-art{
    position: relative;
    width: 100%;
    margin-top: 50px;
}
.blog-art-wrap{
   padding-left: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog-art-wrap-content{
    width: 65%;
}
.blog-art-bar{
    position: fixed;
    top: 60px;
    left: 0;
    width: 20rem;
    height: calc(100vh - 60px);
    overflow-y: scroll;
}
/* .blog-art-detail{
    width: 100%;
} */