body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    /* 火狐浏览器取消滚动条 */
    scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 取消滚动条 */
body::-webkit-scrollbar{
  display: none;
}
/* 自定义滚动条 */
.scroll-progress-bar{
  position: fixed;
  z-index: 971;
  top: 0;
  height: 4px;
  background-color: rgb(8, 197, 255);
}
:root{
  --border-style:1px solid rgb(234,234,234);
  scrollbar-width: none;
}
a{
  color: #000;
  text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
div,a{
  box-sizing: border-box;
}
blockquote{
  color: rgb(154,154,154);
  padding: 4px 20px;
  border-left: 6px solid rgb(215,219,223);
}
blockquote>p{
  margin: 4px;
}
.common-code{
  background-color: rgb(240,240,241);
  color: #7e1671;
  border-radius: 6px;
  padding: 2px;
  margin-left: 4px;
  margin-right: 4px;
  border: 1px solid rgb(225,229,232);
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width:12px;
  }
  /* 滚动槽 */
::-webkit-scrollbar-track {
  box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
}
  /* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0.1);
  box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(142, 136, 136, 0.4);
}

button{
  border: none;
  outline: none;
}