.nav {
    position: fixed;
    z-index: 970;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.nav ul{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.nav-center-box{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0,-55%);
}

.nav-patn-box{
    margin-left: 18px;
}

.nav-crumbs{
    display: flex;
    align-items: center;
}

.nav-menu{
    position: absolute;
    display: flex;
    top: 0;
    right: 18px;
    align-items: center;
}

@-webkit-keyframes animal {
    0%{
      transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }
  }

@keyframes animal {
    0%{
      transform: rotate(-360deg);
      -ms-transform: rotate(-360deg);
      -webkit-transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
      }
  }

  .nav-music-cont{
    -webkit-animation: animal 2s infinite linear ;
            animation: animal 2s infinite linear ;
    transform-origin: center center;
  }

.music-box{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: left .6s;
}
.music-box-content{
    position: absolute;
    z-index: 1001;
    top: 80px;
    left: 40px;
    width: 400px;
    height: 80vh;
    border-radius: 8px;
    background-color: #292a2b;
    transition: all .6s;
    box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
}
.music-box-close{
   left: -100vw;
}

.meck-open-box{
    left: 0;
}
.meck-close-box{
    left: -100vw;
}

.content-open-box{
    left:40px;
}
.content-close-box{
    left: -500px;
}
.bg_player {
    display: none;
    
}
.music-content-unfold{
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
    z-index: 9999;
}
.border-radius-init{
    border-radius: 0;
}
.music-chunk-content-unfold{
    display: flex;
    justify-content: right;
    width: 100%;
    padding-right: 0;
}
.music-transition{
    transition: all 1s;
}