.nav {
    position: fixed;
    z-index: 999;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
}
.nav ul{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.nav-center-box{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translate(0,-55%);
}

.nav-patn-box{
    margin-left: 18px;
}

.nav-crumbs{
    display: flex;
    align-items: center;
}

.nav-menu{
    position: absolute;
    display: flex;
    top: 0;
    right: 18px;
    align-items: center;
}
