.music-list{
    width: 100%;
    height: 400px;
    overflow: auto;
    border: 1px solid rgb(228,225,225);
   
}
.music-chunk{
    position: relative;
    z-index: 1002;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.35);
}
.music-chunk-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.music-chunk-meck{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(65px);
    opacity: .6;
}


.react-audio-player{
    width: 100%;
    box-shadow: none;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0);
}
.music-chunk-tag{
    margin-top: 20px;
    margin-bottom: 20px;
}
.react-audio-player-box{
    position: absolute;
    box-sizing: border-box;
    width: calc(100% - 40px);
    bottom: 30px;
}
/* 音乐播放器总盒子 */
.music-box-unfold{
    position: relative;
    padding: 150px;
}
.music-box-shrink{
    position: relative;
    width: 100%;
}
.music-palyer-box-unfold{
    
}
.music-palyer-box-shrink{

}
/* 播放控件盒子 */
.music-palyer-state-unfold{
    
}
.music-palyer-state-shrink{

}

.rhap_theme-color{ color:#868686;}
.rhap_background-color { color:#fff ;} 
.rhap_bar-color {color: #e4e4e4 ; }    
.rhap_time-color {color: #333 ; }      
.rhap_font-family { color: inherit; } 

.play-state-box-unfold{

}
.play-state-box-shrink{
    display: inline-block;
}
.music-palyer-state{

}