:root{
    --color-music-font:#515151;
}
.music-list{
    width: 100%;
   
}
.music-list ul{
    padding: 0;
}
/* 音乐块 */
.music-chunk{
    position: relative;
    z-index: 1002;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.35);
}

/* 音乐内容盒子 */
.music-chunk-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
}
/* 音乐盒子蒙版 */
.music-chunk-meck{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    -webkit-filter: blur(65px);
            filter: blur(65px);
    opacity: .6;
    transform: translateZ(0);
}

/* 音乐播放器主体 */
.react-audio-player{
    width: 100%;
    box-shadow: none;
    margin-bottom: 0;
    background-color: rgba(0,0,0,0);
}

/* 搜索建议标签 */
.music-chunk-tag{
    margin-top: 20px;
    margin-bottom: 20px;
}
/* 音乐播放器容器 */
.react-audio-player-box{
    flex-grow: 1;
    box-sizing: border-box;
    width: 100%;
    bottom: 30px;
    display: flex;
    align-items: center;
}
/* 音乐列表 */
.music-list-table{
    width: 100%;
    color: #fff;
    height: 100%;
    overflow: hidden;
}

/* 音乐列表头部 */
.music-list-thead{
    width: 100%;
}

/* 音乐列表主体 */
.music-list-tbody{
    width: 100%;
    max-height: calc(100% - 78px);
    overflow: overlay;
}

/* 专辑-音乐列表盒子 */
.album-list-box{
    display: flex;
    width: 100%;
    max-height: 48%;
}
/* 音乐列表 */
/* 操作音乐列表控件 */
.music-list>.music-list-thead-first{
    display: flex;
    align-items: center;
    color: #e4e4e4;
    margin: 8px 0;
}

.music-list>.music-list-thead-first>li:nth-child(1){
    padding: 3px 4px;
}
.music-list>.music-list-thead-first>div:nth-child(2){
    display: inline-flex;
    flex-grow: 1;
    justify-content: right;
}
.music-list-thead .music-list-thead-first{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4e4e4;
    margin: 8px 0;
}
.music-list-thead-first>li{
    display: inline-flex;
    align-items: center;
    justify-content: left;
}.music-list-thead-first>li:nth-child(2){
    flex: 2.5;
}
.music-list-thead>.music-list-thead-detial:nth-child(1)>li:nth-child(2){
    flex: calc(2.5 - 8px);
}
/* 音乐列表主体 */
.music-list-thead-detial{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4e4e4;
    font-size: 14px;
    padding: 6px 0;
}
.music-list-thead-detial>li{
    display: inline-flex;
    align-items: center;
    justify-content: left;
}
.music-list-thead-detial>li:nth-child(1){
    padding: 0 4px;
}
.music-list-thead-detial>li:nth-child(2){
    flex: 2.5;
    justify-content: left;
    overflow: hidden;
}
.music-list-thead-detial>li:nth-child(3){
    flex: .8;
}
.music-list-thead-detial>li:nth-child(4){
    flex: 1;
}
.music-list-thead-detial>li:nth-child(5){
    flex: 1;
}
.music-list-font-color{
    color: rgb(230, 230, 230);
}
.music-list-font-color:hover{
    color: rgb(230, 230, 230)
}
.music-list-tbody>a:nth-child(2n){
    background-color: rgba(0,0,0,.15);
}
.music-list-tbody>a:nth-child(2n + 1){
    background-color: rgba(0,0,0,.1);
}
.music-list-tbody>a:hover{
    background-color: rgba(0,0,0,.2);
}

.music-list-control-com{
    margin-right: 6px;
}
/* 专辑盒子 */
.music-album-box{
    width: 50%;
}
/* 展开 */
/* 音乐播放器总盒子 */
.music-box-unfold{
    position: relative;
    padding: 90px 120px 0 120px;
}

.music-palyer-box-unfold{
    bottom: 100px;
    left: 120px;
}

/* 播放控件盒子 */
.react-player-unfold-contorl{
    flex-grow: 1;
    width: 100%;
    margin: 6px 0;
}

.music-palyer-state-unfold{
    
}
.play-state-box-unfold{

}

.music-list-table-unfold{
    width: 50%;
}


/* 收缩 */
.music-box-shrink{
    position: relative;
    width: 100%;
}

.react-player-shrink-contorl{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.react-player-shrink-down-box>div:nth-child(1),
.react-player-shrink-down-box>div:nth-child(3)
{
    flex: 1;
}
.react-player-shrink-down-box>div:nth-child(2){
    flex: 2;
}
.react-player-shrink-down-box>div:nth-child(3){
    display: flex;
    justify-content: right;
}
.react-player-shrink-progress-bar{

    width: 100%;
    height: 38px;
}
.react-player-shrink-down-box{
    display: flex;
}

.music-palyer-state-shrink{

}
.play-state-box-shrink{
    display: inline-block;
}
.music-list-table-shrink{
    width: 100%;
}


.rhap_theme-color{ color:#868686;}
.rhap_background-color { color:#fff ;} 
.rhap_bar-color {color: #e4e4e4 ; }    
.rhap_time-color {color: #333 ; }      
.rhap_font-family { color: inherit; } 



.music-palyer-state{

}
.music-volume-box{
    position: absolute;
    top: -90px;
    left: 55%;
    width: 30px;
    height: 90px;
    background-color: #fff;
}
.react-player-shrink-down-box>div:nth-child(3){
    position: relative;
}

.music-transition{
    display: flex;
    align-items: center;
    justify-content: center;
}